@import '../../styles/settings.scss';

.section {
	width: 100%;
	height: 500px;
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 100%
		),
		url('../../img/hero_bg-small.webp');
	background-size: cover;
	background-position: center;
	
	&::before {
    content: '';
    display: none;
    background-image: url('../../img/hero_bg-small.webp'); 
  }

	

	@media screen and (min-width: $tablet) {
		background-position: bottom;
	}

	@media screen and (min-width: $desktop) {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.5) 100%
			),
			url('../../img/hero_bg-big.webp');
		background-size: cover;
		background-position: bottom;
		height: 650px;

		&::after {
			content: '';
			display: none;
			background-image: url('../../img/hero_bg-big.webp');
		}
	}
}

.container {
	box-sizing: border-box;
	text-align: center;
	max-width: 328px;
	margin: 0 auto;
	padding-top: 40px;

	@media screen and (min-width: $tablet) {
		max-width: 380px;
		padding-top: 88px;
	}

	@media screen and (min-width: $desktop) {
		padding-top: 163px;
	}
}

.head {
	color: $text-secondary-color;
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 21px;
}

.text {
	color: $text-secondary-color;
	line-height: 26px;
	margin-bottom: 32px;
}
