
// Color palette
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;

// font 
$font-family: 'Nunito', sans-serif;
$text-main-color: rgba(0, 0, 0, 0.87);
$text-secondary-color: #FFFFFF;

// transition
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);