@import '../../styles/main.scss';

// ------------------ Ф О Р М А
.form {
	max-width: 328px;
	margin: 0 auto;

	@media screen and (min-width: $tablet) {
		max-width: 380px;
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin: 50px auto;
}

// ------------------ I N P U T (допоміжний текст, помилка, лейбл, плейсхолдер)
.inputGroup {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.label,
.labelError,
.labelHidden {
	// opacity: 0;
	position: absolute;
	top: -9px;
	left: 16px;
	font-size: 12px;
	line-height: 14px;
	padding: 4px;
	background-color: $background-color;
}

.label {
	color: #7e7e7e;
}

.labelError {
	color: #cb3d40;
}

.labelHidden {
	opacity: 0;
}

.input,
.inputError {
	font-size: 16px;
	line-height: 26px;
	height: 54px;
	padding: 14px 16px;
	border-radius: 4px;
	border: 1px solid #d0cfcf;
	background: $background-color;

	&::placeholder {
		color: #7e7e7e;
	}

	&:focus {
		border-color: #000;
	}
}

.inputError {
	border: 2px solid #cb3d40;
}

.errorText,
.helperText {
	font-size: 12px;
	text-align: start;
	margin-left: 16px;
	margin-top: 4px;
}

.helperText {
	color: #7e7e7e;
}

.errorText {
	color: #cb3d40;
}

// --------------------------- I N P U T __ R A D I O __ B U T T O N
.positionsWrapper {
	width: 100%;
	text-align: start;
	margin-left: 20px;

	@media screen and (min-width: $tablet) {
		margin: 0;
	}
}

.positionList {
	@extend %list;
}

.positionItem {
	width: fit-content;
	cursor: pointer;
}

.positionsTitle,
.positionName {
	line-height: 26px;
}

.positionsTitle {
	margin-bottom: 14px;
}

.positionName {
	display: flex;
	align-items: center;
}

.radioBtn {
	display: none;
}

.customRadioBtn {
	width: 20px;
	height: 20px;
	background: url('../../img/radioBtnUnchecked.svg') no-repeat center center;
	background-size: contain;
	margin-right: 10px;
	cursor: pointer;
	flex-shrink: 0;
}

.radioBtn:checked + .customRadioBtn {
	background: url('../../img/radioBtnChecked.svg') no-repeat center center;
	background-size: contain;
}

// --------------------------- INPUT ___ F I L E 
.fileInputWrapper {
	display: flex;
	align-items: center;
	border: 1px solid #d0cfcf;
	background: #f8f8f8;
	border-radius: 4px;
	width: 328px;
	height: 54px;
	transition: border-color 0.3s;

	@media screen and (min-width: $tablet) {
		width: 380px;
	}
}

.error {
	border: 2px solid #cb3d40;
}

.fileInputButton,
.fileInputButtonErr {
	cursor: pointer;
	height: 54px;
	font-size: 16px;
	line-height: 26px;
	padding: 14px;
	border: 1px solid $text-main-color;
	border-radius: 4px 0px 0px 4px;
}

.fileInputButtonErr {
	border: 2px solid transparent;
	border-right: 2px solid #cb3d40;
}

.fileInputField {
	display: none;
}

.customInput {
	color: #7e7e7e;
	line-height: 26px;
	padding: 14px 16px;
}

.selectedFile {
	color: $text-main-color;
}
