@import '../../styles/main.scss';

.tooltip {
  position: absolute;
  z-index: 1000;
  display: inline-flex;
padding: 3px 16px;
flex: wrap;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: $text-main-color;
color: $text-secondary-color;
}